on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Copy additional resources
        run: |
          git checkout gh-pages
          cp .nojekyll docs/ || true
          mkdir -p docs/files/CV
          cp static/files/CV/Morrison_CV.pdf docs/files/CV/ || true
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add docs/.nojekyll docs/files/CV/Morrison_CV.pdf
          git commit -m "Add additional resources" || true
          git push
        continue-on-error: true
